.header {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 175%;
}

.main {
  margin: 4rem 6rem 4rem 6rem;
  display: flex;
  flex-direction: row;
  gap: 15vw;
  align-items: flex-start;
}

.photo {
  width: 150%;
  height: auto;
}

.name {
  font-size: 200%;
}

.album-title {
  font-size: 20px;
  cursor: pointer;
  color: rgb(100, 100, 100);
  transition: color 0.3s ease;
  width: 350px;
  height: 50px;
  align-content: center;
  list-style: none;
  position: relative;
  padding-left: 10px;
  border-bottom: #a4a4a4 solid;
}

.album-title::after {
  content: "+";
  position: absolute;
  right: 10px;
  font-size: 1.2rem;
  color: #333;
  transition: transform 0.3s ease;
}

.album-title:hover {
  color: black;
  background-color: rgb(235, 235, 235);
}

.album[open] .album-title::after {
  content: "\2014";
}

.album[open] .album-title{
  font-style: italic;
  color: black;
}

.song {
  font-size: 18px;
  padding-left: 20px;
}

.footer {
  align-items: center;
  font-size: 18px;
  text-align: center;
}


